# .env.example
DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=clinic_booking
DB_USER=clinic_user
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

DJANGO_SETTINGS_MODULE=config.settings